<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wordType</key>
	<dict>
		<key>生活用品</key>
		<array>
			<string>台灯</string>
			<string>菜单</string>
			<string>菜刀</string>
			<string>牙刷</string>
			<string>杯子</string>
			<string>锅</string>
			<string>电饭煲</string>
			<string>电磁炉</string>
			<string>茶壶</string>
			<string>箱子</string>
			<string>垃圾桶</string>
			<string>沙发</string>
			<string>凳子</string>
			<string>椅子</string>
			<string>桌子</string>
			<string>床</string>
			<string>席子</string>
			<string>窗子</string>
			<string>窗帘</string>
			<string>梳子</string>
			<string>发夹</string>
			<string>牙膏</string>
			<string>口红</string>
			<string>电灯</string>
			<string>雨伞</string>
			<string>手机</string>
			<string>电话</string>
			<string>笔记本</string>
			<string>书</string>
			<string>本子</string>
			<string>蜡烛</string>
			<string>电筒</string>
			<string>照相机</string>
			<string>钥匙</string>
			<string>收音机</string>
			<string>钱包</string>
			<string>毛巾</string>
			<string>浴巾</string>
			<string>餐巾纸</string>
			<string>电视机</string>
			<string>电脑</string>
			<string>闹钟</string>
			<string>计时器</string>
			<string>手表</string>
			<string>指环</string>
			<string>菜板</string>
			<string>创可贴</string>
			<string>感冒药</string>
			<string>瓶子</string>
			<string>植物油</string>
			<string>混合油</string>
			<string>菜籽油</string>
			<string>猪油</string>
			<string>盐</string>
			<string>围巾</string>
			<string>味精</string>
			<string>鸡精</string>
			<string>拖鞋</string>
			<string>拖帕</string>
			<string>被子</string>
			<string>枕头</string>
			<string>枕巾</string>
			<string>三角裤</string>
			<string>连衣裙</string>
			<string>内衣</string>
			<string>裙子</string>
			<string>衬衣</string>
			<string>电池</string>
			<string>口袋</string>
			<string>钱包</string>
			<string>照相机</string>
			<string>冰箱</string>
			<string>冰柜</string>
			<string>衣架</string>
			<string>牛仔裤</string>
			<string>西服</string>
			<string>帽子</string>
			<string>运动鞋</string>
			<string>眼镜</string>
			<string>耳环</string>
			<string>电吹风</string>
			<string>电扇</string>
			<string>空调</string>
			<string>背筐</string>
			<string>镰刀</string>
			<string>老干妈</string>
			<string>洗发露</string>
			<string>奶粉</string>
			<string>洗洁精</string>
			<string>洗衣粉</string>
			<string>沐浴露</string>
			<string>香皂</string>
			<string>肥皂</string>
			<string>牛奶</string>
			<string>醋</string>
			<string>酱油</string>
			<string>可乐</string>
			<string>铲子</string>
			<string>书包</string>
			<string>勺子</string>
			<string>碗</string>
			<string>打火机</string>
			<string>蚊香</string>
			<string>电蚊拍</string>
			<string>挎包</string>
			<string>耳机</string>
			<string>袜子</string>
			<string>刮胡刀</string>
			<string>剃须刀</string>
			<string>镜子</string>
			<string>台灯</string>
			<string>饭盒</string>
			<string>刷子</string>
			<string>鼠标</string>
			<string>键盘</string>
			<string>插板</string>
			<string>光盘</string>
			<string>U盘</string>
			<string>移动电源</string>
			<string>502胶水</string>
			<string>墨水</string>
			<string>笔</string>
			<string>铅笔</string>
			<string>钢笔</string>
			<string>钱</string>
			<string>圆珠笔</string>
			<string>签字笔</string>
			<string>相框</string>
			<string>足球</string>
			<string>篮球</string>
			<string>羽毛球</string>
			<string>乒乓球</string>
			<string>磁带</string>
			<string>音响</string>
			<string>筛子</string>
			<string>纸牌</string>
			<string>跑步机</string>
			<string>公交卡</string>
			<string>银行卡</string>
			<string>饭卡</string>
		</array>
		<key>国家地区</key>
		<array>
			<string>安道尔</string>
			<string>阿富汗</string>
			<string>阿尔巴尼亚</string>
			<string>安哥拉</string>
			<string>南极洲</string>
			<string>阿根廷</string>
			<string>亚美尼亚</string>
			<string>澳大利亚</string>
			<string>奥地利</string>
			<string>阿塞拜疆</string>
			<string>巴哈马</string>
			<string>巴林</string>
			<string>孟加拉国</string>
			<string>巴巴多斯</string>
			<string>白俄罗斯</string>
			<string>伯利兹</string>
			<string>比利时</string>
			<string>贝宁</string>
			<string>百慕大</string>
			<string>玻利维亚</string>
			<string>不丹</string>
			<string>博茨瓦纳</string>
			<string>布维岛</string>
			<string>巴西</string>
			<string>文莱</string>
			<string>保加利亚</string>
			<string>布基纳法索</string>
			<string>布隆迪</string>
			<string>喀麦隆</string>
			<string>加拿大</string>
			<string>佛得角</string>
			<string>中非共和国</string>
			<string>圣诞岛</string>
			<string>哥伦比亚</string>
			<string>瑞士</string>
			<string>刚果</string>
			<string>库克群岛</string>
			<string>哥斯达黎加</string>
			<string>科特迪瓦
</string>
			<string>古巴</string>
			<string>塞浦路斯</string>
			<string>捷克</string>
			<string>埃及</string>
			<string>西撒哈拉</string>
			<string>西班牙</string>
			<string>爱沙尼亚</string>
			<string>埃塞俄比亚</string>
			<string>厄立特里亚</string>
			<string>斐济</string>
			<string>芬兰</string>
			<string>法国</string>
			<string>加蓬</string>
			<string>赤道几内亚</string>
			<string>圭亚那</string>
			<string>克罗地亚</string>
			<string>海地</string>
			<string>洪都拉斯</string>
			<string>匈牙利</string>
			<string>冰岛</string>
			<string>印度</string>
			<string>印度尼西亚</string>
			<string>伊朗</string>
			<string>伊拉克</string>
			<string>爱尔兰</string>
			<string>以色列</string>
			<string>意大利</string>
			<string>牙买加</string>
			<string>日本</string>
			<string>约旦</string>
			<string>哈萨克斯坦</string>
			<string>肯尼亚</string>
			<string>基里巴斯</string>
			<string>朝鲜</string>
			<string>韩国</string>
			<string>柬埔寨</string>
			<string>科威特</string>
			<string>开曼群岛</string>
			<string>老挝</string>
			<string>斯里兰卡</string>
			<string>拉托维亚</string>
			<string>黎巴嫩</string>
			<string>莱索托</string>
			<string>利比里亚</string>
			<string>利比亚</string>
			<string>列支敦士登</string>
			<string>立陶宛</string>
			<string>卢森堡</string>
			<string>圣卢西亚</string>
			<string>马达加斯加</string>
			<string>马里</string>
			<string>马其顿</string>
			<string>马耳他</string>
			<string>马绍尔群岛</string>
			<string>毛里塔尼亚</string>
			<string>毛里求斯</string>
			<string>墨西哥</string>
			<string>摩尔多瓦</string>
			<string>摩纳哥</string>
			<string>蒙古</string>
			<string>蒙特塞拉特</string>
			<string>摩洛哥</string>
			<string>莫桑比克</string>
			<string>缅甸</string>
			<string>圣赫勒拿</string>
			<string>圣马力诺</string>
			<string>沙特阿拉伯</string>
			<string>塞内加尔</string>
			<string>塞舌尔</string>
			<string>塞拉利昂</string>
			<string>塞尔维亚</string>
			<string>新加坡</string>
			<string>斯洛伐克</string>
			<string>斯洛文尼亚</string>
			<string>所罗门群岛</string>
			<string>索马里</string>
			<string>苏丹</string>
			<string>苏里南</string>
			<string>斯威士兰</string>
			<string>瑞典</string>
			<string>叙利亚</string>
			<string>乍得</string>
			<string>塔吉克斯坦</string>
			<string>坦桑尼亚</string>
			<string>泰国</string>
			<string>多哥</string>
			<string>托克劳</string>
			<string>汤加</string>
			<string>突尼斯</string>
			<string>土耳其</string>
			<string>东帝汶</string>
			<string>土库曼斯坦</string>
			<string>图瓦卢</string>
			<string>乌干达</string>
			<string>乌克兰</string>
			<string>英国</string>
			<string>美国</string>
			<string>乌拉圭</string>
			<string>乌兹别克斯坦</string>
			<string>梵蒂冈</string>
			<string>委内瑞拉</string>
			<string>越南</string>
			<string>西萨摩亚</string>
			<string>南非</string>
			<string>扎伊尔</string>
			<string>赞比亚</string>
			<string>津巴布韦</string>
			<string>南苏丹</string>
			<string>也门</string>
			<string>尼日利亚</string>
			<string>纽埃</string>
			<string>诺福克岛</string>
			<string>挪威</string>
			<string>阿曼</string>
			<string>巴基斯坦</string>
			<string>帕劳</string>
			<string>巴拿马</string>
			<string>巴拉圭</string>
			<string>秘鲁</string>
			<string>菲律宾</string>
			<string>波兰</string>
			<string>葡萄牙</string>
			<string>波多黎各</string>
			<string>卡塔尔</string>
			<string>罗马尼亚</string>
			<string>俄罗斯</string>
			<string>卢旺达</string>
			<string>萨尔瓦多</string>
			<string>纳米比亚</string>
			<string>瑙鲁</string>
			<string>尼泊尔</string>
			<string>荷兰</string>
			<string>新喀里多尼亚</string>
			<string>新西兰</string>
			<string>尼加拉瓜</string>
			<string>尼日尔</string>
			<string>黑山</string>
			<string>马拉维</string>
			<string>马来西亚</string>
			<string>马尔代夫</string>
			<string>科摩罗</string>
			<string>吉尔吉斯斯坦</string>
			<string>法属圭亚那</string>
			<string>冈比亚</string>
			<string>英国</string>
			<string>格林纳达</string>
			<string>关岛</string>
			<string>危地马拉</string>
			<string>几内亚
</string>
			<string>几内亚比绍</string>
			<string>格鲁吉亚</string>
			<string>加纳</string>
			<string>直布罗陀</string>
			<string>北京</string>
			<string>河内</string>
			<string>曼谷</string>
			<string>新德里</string>
			<string>德黑兰</string>
			<string>首尔</string>
			<string>东京</string>
			<string>大马士革</string>
			<string>巴黎</string>
			<string>伦敦</string>
			<string>维也纳</string>
			<string>布鲁塞尔</string>
			<string>柏林</string>
			<string>罗马</string>
			<string>里斯本</string>
			<string>雅典</string>
			<string>华沙</string>
			<string>布拉格</string>
			<string>明斯克</string>
			<string>基辅</string>
			<string>渥太华</string>
			<string>希腊</string>
			<string>格陵兰</string>
			<string>丹麦</string>
			<string>吉布提</string>
			<string>多米尼克</string>
			<string>德国</string>
			<string>多米尼加</string>
			<string>阿尔及利亚</string>
			<string>厄瓜多尔</string>
			<string>阿联酋</string>
		</array>
		<key>歌曲名字</key>
		<array>
			<string> 千千阙歌</string>
			<string>匆匆那年</string>
			<string>喜欢你</string>
			<string>小苹果</string>
			<string> 甜蜜蜜</string>
			<string>我只在乎你</string>
			<string>月亮代表我的心</string>
			<string>北国之春</string>
			<string>漫步人生路</string>
			<string>红豆</string>
			<string> 传奇</string>
			<string> 流年</string>
			<string>我愿意</string>
			<string>笑忘书</string>
			<string>旋木</string>
			<string>但愿人长久</string>
			<string>约定</string>
			<string> 乘客</string>
			<string>天空</string>
			<string>我可以抱你吗</string>
			<string>后会无期</string>
			<string>泡沫</string>
			<string> 约定</string>
			<string>我最亲爱的</string>
			<string>时间煮雨</string>
			<string>平凡之路</string>
			<string> 海阔天空</string>
			<string> 听海</string>
			<string> 最爱的人伤我最深</string>
			<string>哭砂</string>
			<string>趁早</string>
			<string>解脱</string>
			<string>剪爱</string>
			<string>最炫民族风</string>
			<string>荷塘月色</string>
			<string>自由自在</string>
			<string>我从草原来</string>
			<string>相见恨晚</string>
			<string>伤痕</string>
			<string>喜欢两个人</string>
			<string>那些花儿</string>
			<string>生如夏花</string>
			<string>白桦林</string>
			<string>蓝莲花</string>
			<string>曾经的你</string>
			<string>时光</string>
			<string>像风一样自由</string>
			<string>春天里</string>
			<string>勇敢的心</string>
			<string>稳稳的幸福</string>
			<string>好久不见</string>
			<string>十年</string>
			<string>因为爱情</string>
			<string>浮夸</string>
			<string>红玫瑰</string>
			<string>爱情转移</string>
			<string>K歌之王</string>
			<string>不要说话</string>
			<string>旅行的意义</string>
			<string>告诉我</string>
			<string>最初的梦想</string>
			<string>那些花儿</string>
			<string>最重要的决定</string>
			<string>到不了</string>
			<string>是非题</string>
			<string>可不可以不勇敢</string>
			<string>如果的事</string>
			<string>我们的纪念日</string>
			<string>雪人</string>
			<string>我最亲爱的</string>
			<string>解脱</string>
			<string>趁早</string>
			<string>哭砂</string>
			<string>如果你也听说</string>
			<string>独角戏</string>
			<string>如果云知道</string>
			<string>如果没有你</string>
			<string>盛夏的果实</string>
			<string>阴天</string>
			<string>电台情歌</string>
			<string>忽然之间</string>
			<string>他不爱我</string>
			<string>广岛之恋</string>
			<string>当爱在靠近</string>
			<string>很爱很爱你</string>
			<string>后来</string>
			<string>同桌的你</string>
			<string>成全</string>
			<string>知道不知道</string>
			<string>至少还有你</string>
			<string> 夕阳之歌</string>
			<string>亲密爱人</string>
			<string>一路上有你</string>
			<string>我真的受伤了</string>
			<string>慢慢</string>
			<string>心如刀割</string>
			<string>吻别</string>
			<string>冰雨</string>
			<string>今天</string>
			<string>世界第一等</string>
			<string>来生缘</string>
			<string>忘情水</string>
			<string>天意</string>
			<string>谢谢你的爱</string>
			<string>上海滩</string>
			<string>17岁</string>
			<string>恭喜发财</string>
			<string>练习</string>
			<string>无间道</string>
			<string>孤星泪</string>
			<string>水手</string>
			<string>星星点灯</string>
			<string>大海</string>
			<string>单身情歌</string>
			<string>浮夸</string>
			<string>朋友</string>
			<string>偏偏喜欢你</string>
			<string>再回首</string>
			<string>驿动的心</string>
			<string>童年</string>
			<string>恋曲1990</string>
			<string>东方之珠</string>
			<string>大地</string>
			<string>情人</string>
			<string>真的爱你</string>
			<string>冷雨夜</string>
			<string>灰色轨迹</string>
			<string>光辉岁月</string>
			<string>长城</string>
			<string>逝去的日子</string>
			<string>岁月无声</string>
			<string>红日</string>
			<string>倔强</string>
			<string>知足</string>
			<string>征服</string>
			<string>雾里看花</string>
			<string>一笑而过</string>
			<string>勇气</string>
			<string>宁夏</string>
			<string>会呼吸的痛</string>
			<string>爱久见人心</string>
			<string>梦醒时分</string>
			<string>夜夜夜夜</string>
			<string>可惜不是你</string>
			<string>下一个天亮</string>
			<string>我们都一样</string>
			<string>逆战</string>
			<string>无所谓</string>
			<string>空城</string>
			<string>那一天</string>
			<string> 断桥残雪</string>
			<string>清明雨上</string>
			<string>有何不可</string>
			<string>灰色头像</string>
			<string>千百度</string>
			<string>日不落</string>
			<string>千里之外</string>
			<string>一翦梅</string>
			<string>一帘幽梦</string>
			<string>记事本</string>
			<string>不如跳舞</string>
			<string>手掌心</string>
			<string>猜不透</string>
			<string>洋葱</string>
			<string>不是你的错</string>
			<string>蜀绣</string>
			<string>和你一样</string>
			<string>画心</string>
			<string>我相信</string>
			<string>当</string>
			<string>想起</string>
			<string>飘雪</string>
			<string>星月神话</string>
			<string>爱的魔法</string>
			<string>我的歌声里</string>
			<string>煎熬</string>
			<string>新贵妃醉酒</string>
			<string>雨蝶</string>
			<string>伤心太平洋</string>
			<string>雨蝶</string>
			<string>落花</string>
			<string>恶作剧</string>
			<string>孤单北半球</string>
			<string>你的样子</string>
			<string>世界大不同</string>
			<string>向往</string>
			<string>小小</string>
			<string>痛爱</string>
			<string>美丽的神话</string>
			<string>拯救</string>
			<string>你快回来</string>
			<string>不见不散</string>
			<string>I Believe</string>
			<string>空城</string>
			<string>信仰</string>
			<string>爱如潮水</string>
			<string>白月光</string>
			<string>说谎</string>
			<string>情非得已</string>
			<string>约定</string>
			<string>大海</string>
			<string>三国杀</string>
			<string>霍元甲</string>
			<string>一路向北</string>
			<string>青花瓷</string>
			<string>夜曲</string>
			<string>菊花台</string>
			<string>兰亭序</string>
			<string>双节棍</string>
			<string>听妈妈的话</string>
			<string>红尘客栈</string>
			<string>简单爱</string>
			<string>发如雪</string>
			<string>布拉格广场</string>
			<string>说爱你</string>
			<string>舞娘</string>
			<string>倒带</string>
			<string>妥协</string>
			<string>一剪梅</string>
			<string>宝贝</string>
			<string>旅行</string>
			<string>怒放的生命</string>
			<string>北京北京</string>
			<string>何以爱情</string>
			<string> 父亲</string>
			<string>Let It Go</string>
			<string> 红豆</string>
			<string> 致青春</string>
			<string> 老男孩</string>
			<string>为爱痴狂</string>
			<string> 我的歌声里</string>
		</array>
		<key>动物成语</key>
		<array>
			<string>鼠目寸光</string>
			<string>胆小如鼠 </string>
			<string>投鼠忌器</string>
			<string>贼眉鼠眼 </string>
			<string>小试牛刀</string>
			<string>九牛一毛</string>
			<string>汗牛充栋</string>
			<string>对牛弹琴</string>
			<string>气壮如牛</string>
			<string>虎视眈眈</string>
			<string>虎头虎脑</string>
			<string>放虎归山</string>
			<string>谈虎色变</string>
			<string>狼吞虎咽</string>
			<string>降龙伏虎</string>
			<string>羊入虎口</string>
			<string>狐假虎威 </string>
			<string>守株待兔</string>
			<string>龙腾虎跃</string>
			<string>龙马精神</string>
			<string>龙飞凤舞</string>
			<string>龙凤呈祥</string>
			<string>来龙去脉</string>
			<string>画龙点睛</string>
			<string>群龙无首</string>
			<string>望子成龙 </string>
			<string>蛇蝎心肠</string>
			<string>画蛇添足</string>
			<string>打草惊蛇</string>
			<string>虚与委蛇 </string>
			<string>马到成功</string>
			<string>马革裹尸</string>
			<string>一马当先</string>
			<string>老马识途</string>
			<string>万马奔腾</string>
			<string>犬马之劳 </string>
			<string>天马行空</string>
			<string>一马平川</string>
			<string>青梅竹马</string>
			<string>单枪匹马</string>
			<string>招兵买马</string>
			<string>害群之马</string>
			<string>塞翁失马 </string>
			<string>金戈铁马 </string>
			<string>亡羊补牢</string>
			<string>顺手牵羊</string>
			<string>猴年马月</string>
			<string>沐猴而冠</string>
			<string>杀鸡儆猴</string>
			<string>鸡毛蒜皮</string>
			<string>鸡鸣狗盗</string>
			<string>鸡犬升天</string>
			<string>鸡犬不宁</string>
			<string>鸡飞蛋打</string>
			<string> 杀鸡取卵</string>
			<string>闻鸡起舞</string>
			<string>偷鸡摸狗</string>
			<string>小肚鸡肠 </string>
			<string>呆若木鸡 </string>
			<string>狗血喷头</string>
			<string>狗仗人势</string>
			<string>狗急跳墙 </string>
			<string>猪狗不如</string>
			<string>犬马之劳</string>
			<string>兔死狗烹</string>
			<string>关门打狗</string>
			<string>狐朋狗友</string>
			<string>狼心狗肺</string>
			<string>猪狗不如</string>
			<string>惊弓之鸟</string>
			<string>飞禽走兽</string>
			<string>珍禽异兽</string>
			<string>衣冠禽兽</string>
			<string>珍禽异兽</string>
			<string>凤毛麟角</string>
			<string>鹤立鸡群</string>
			<string>鸦雀无声</string>
			<string>风声鹤唳</string>
			<string>莺歌燕舞</string>
			<string>草长莺飞</string>
			<string> 燕语莺声</string>
			<string>鹊巢鸠占</string>
			<string>鹦鹉学舌</string>
			<string>蜻蜓点水</string>
			<string>一箭双雕</string>
			<string>狼烟四起</string>
			<string>狼子野心</string>
			<string>狼狈不堪</string>
			<string>狼狈为奸 </string>
			<string>豺狼成性</string>
			<string>豺狼当道 </string>
			<string>引狼入室 </string>
			<string>声名狼藉</string>
			<string>人面兽心</string>
			<string>一丘之貉</string>
			<string>黔驴技穷</string>
			<string>中原逐鹿</string>
			<string>金蚕脱壳</string>
			<string>蝇头微利</string>
			<string>花飞蝶舞</string>
			<string>螳臂挡车</string>
			<string>鱼跃鸟飞</string>
			<string>如鱼得水</string>
			<string>独占鳌头</string>
			<string>井底之蛙</string>
			<string> 瓮中捉鳖</string>
			<string>如鱼得水</string>
			<string>鹬蚌相争</string>
			<string>虾兵蟹将</string>
			<string>沉鱼落雁</string>
			<string>缘木求鱼</string>
			<string>龙潭虎穴 </string>
			<string>车水马龙</string>
			<string>指鹿为马 </string>
			<string>鱼目混珠</string>
			<string>兔死狐悲 </string>
			<string>引蛇出洞</string>
			<string>鱼目混珠</string>
			<string>小肚鸡肠 </string>
			<string>庖丁解牛</string>
			<string>调虎离山 </string>
			<string>画虎类狗 </string>
			<string>逐鹿中原 </string>
			<string>蛛丝马迹 </string>
			<string>小鸟依人</string>
			<string>鞍前马后</string>
			<string>杀猪宰羊</string>
			<string>心猿意马 </string>
			<string>笨鸟先飞</string>
			<string>独占鳌头</string>
			<string>招蜂引蝶</string>
			<string>蜂拥而至</string>
			<string>鹰击长空</string>
			<string>狼顾鸢视</string>
			<string>声名狼藉</string>
			<string>惊弓之鸟</string>
			<string>一飞冲天</string>
			<string>鹏程万里</string>
			<string>一鸣惊人</string>
			<string>笼中之鸟</string>
			<string>如鲠在喉</string>
			<string>遍体鳞伤</string>
			<string>混水摸鱼</string>
			<string>饮鸩止渴</string>
			<string>一石二鸟</string>
			<string>鸦雀无声</string>
			<string>尖嘴猴腮 </string>
			<string>顺手牵羊</string>
			<string>兵荒马乱 </string>
			<string>蛛丝马迹</string>
			<string>沉鱼落雁</string>
			<string>龙盘虎踞</string>
			<string>缘木求鱼</string>
			<string>人仰马翻 </string>
			<string>羊肠小道</string>
			<string>人困马乏</string>
		</array>
		<key>人名</key>
		<array>
			<string>刘德华</string>
			<string>王菲</string>
			<string>筷子兄弟</string>
			<string>凤凰传奇</string>
			<string>邓紫棋</string>
			<string>陈奕迅</string>
			<string>邓丽君</string>
			<string>Beyond</string>
			<string>莫文蔚</string>
			<string>张学友</string>
			<string>张惠妹</string>
			<string>EXO</string>
			<string>张杰</string>
			<string>汪峰</string>
			<string>周杰伦</string>
			<string>郑源</string>
			<string>龙梅子</string>
			<string>刀郎</string>
			<string>林俊杰</string>
			<string>陈慧娴</string>
			<string>梁静茹</string>
			<string>张国荣</string>
			<string>张靓颖</string>
			<string>那英</string>
			<string>A-Lin</string>
			<string>奥巴马</string>
			<string>毛泽东</string>
			<string>林肯</string>
			<string>许巍</string>
			<string>李健</string>
			<string>谭咏麟</string>
			<string>许嵩</string>
			<string>梅艳芳</string>
			<string>李克勤</string>
			<string>朴树</string>
			<string>刘若英</string>
			<string>五月天</string>
			<string>姚贝娜</string>
			<string>杨坤</string>
			<string>卓依婷</string>
			<string>彭佳慧</string>
			<string>周华健</string>
			<string>张宇</string>
			<string>许茹芸</string>
			<string>齐秦</string>
			<string>曲婉婷</string>
			<string>韩红</string>
			<string>王力宏</string>
			<string>孙燕姿</string>
			<string>小虎队</string>
			<string>陈瑞</string>
			<string>庄心妍</string>
			<string>李宗盛</string>
			<string>王麟</string>
			<string>罗大佑</string>
			<string>水木年华</string>
			<string>周传雄</string>
			<string>伍佰</string>
			<string>蔡琴</string>
			<string>S.H.E</string>
			<string>萧敬腾</string>
			<string>张信哲</string>
			<string>林志炫</string>
			<string>崔子格</string>
			<string>韩宝仪</string>
			<string>任贤齐</string>
			<string>杨钰莹</string>
			<string>蔡依林</string>
			<string>Lady GaGa</string>
			<string>薛之谦</string>
			<string>钟汉良</string>
			<string>庞龙</string>
			<string>少女时代</string>
			<string>萧亚轩</string>
			<string>久石让</string>
			<string>张雨生</string>
			<string>金莎</string>
			<string>林忆莲</string>
			<string>陈小春</string>
			<string>郑智化</string>
			<string>费玉清</string>
			<string>陈百强</string>
			<string>安又琪</string>
			<string>阿桑</string>
			<string>阿朵</string>
			<string>阿杜</string>
			<string>本多RuRu</string>
			<string>本兮</string>
			<string>曹格</string>
			<string>曹方</string>
			<string>陈冠希</string>
			<string>陈妍希</string>
			<string>陈晓东</string>
			<string>丁当</string>
			<string>动力火车</string>
			<string>邓丽君</string>
			<string>迪克牛仔</string>
			<string>董贞</string>
			<string>EXID</string>
			<string>范冰冰</string>
			<string>范晓萱</string>
			<string>飞儿乐团</string>
			<string>范玮琪</string>
			<string>关心妍</string>
			<string>关喆</string>
			<string>光良</string>
			<string>郭富城</string>
			<string>郭德纲</string>
			<string>郭美美</string>
			<string>何炅</string>
			<string>何润东</string>
			<string>韩庚</string>
			<string>韩雪</string>
			<string>黄品源</string>
			<string>黄立行</string>
			<string>黄海波</string>
			<string>黄渤</string>
			<string>黄征</string>
			<string>金圣圭</string>
			<string>金莎</string>
			<string>蒋大为</string>
			<string>刘亦菲</string>
			<string>刘忻</string>
			<string>刘欢</string>
			<string>李克勤</string>
			<string>李佳薇</string>
			<string>李代沫</string>
			<string>李娜</string>
			<string>李孝利</string>
			<string>李宇春</string>
			<string>李宗盛</string>
			<string>李晟</string>
			<string>李玉刚</string>
			<string>李治廷</string>
			<string>李泉</string>
			<string>李贞贤</string>
			<string>李谷一</string>
			<string>李玟</string>
			<string>李霄云</string>
			<string>林宥嘉</string>
			<string>林忆莲</string>
			<string>林心如</string>
			<string>罗大佑</string>
			<string>罗志祥</string>
			<string>罗百吉</string>
			<string>罗震环</string>
			<string>老狼</string>
			<string>蓝心湄</string>
			<string>陆毅</string>
			<string>龙梅子</string>
			<string>毛阿敏</string>
			<string>南拳妈妈</string>
			<string>那英</string>
			<string>欧阳菲菲</string>
			<string>潘长江</string>
			<string>潘玮柏</string>
			<string>庞龙</string>
			<string>容祖儿</string>
			<string>孙悦</string>
			<string>孙楠</string>
			<string>孙俪</string>
			<string>宋祖英</string>
			<string>谭维维</string>
			<string>陶喆</string>
			<string>屠洪刚</string>
			<string>谭咏麟</string>
			<string>吴奇隆</string>
			<string>吴莫愁</string>
			<string>卫兰</string>
			<string>吴克群</string>
			<string>王筝</string>
			<string>王祖蓝</string>
			<string>王若琳</string>
			<string>王心凌</string>
			<string>魏佳艺</string>
			<string>徐良</string>
			<string>旭日阳刚</string>
			<string>萧亚轩</string>
			<string>许艺娜</string>
			<string>谢安琪</string>
			<string>许慧欣</string>
			<string>许茹芸</string>
			<string>叶世荣</string>
			<string>叶倩文</string>
			<string>叶一茜</string>
			<string>杨千桦</string>
			<string>周迅</string>
			<string>周蕙</string>
			<string>张丰毅</string>
			<string>张力尹</string>
			<string>张卫健</string>
			<string>张含韵</string>
			<string>张芸京</string>
			<string>赵传</string>
			<string>郑智化</string>
			<string>2NE1</string>
			<string>卓别林</string>
			<string>金钟国</string>
			<string>刘翔</string>
			<string>邓亚萍</string>
			<string>刘凯歌</string>
			<string>文章</string>
			<string>孙燕姿</string>
			<string>李晨</string>
			<string>张学友</string>
		</array>
		<key>动物</key>
		<array>
			<string>狮子</string>
			<string>狼</string>
			<string>老鼠</string>
			<string>老虎</string>
			<string>鹿</string>
			<string>斑马</string>
			<string>狐狸</string>
			<string>猎豹</string>
			<string>犀牛</string>
			<string>海豚</string>
			<string>考拉</string>
			<string>北极熊</string>
			<string>袋鼠</string>
			<string>刺猬</string>
			<string>海马</string>
			<string>北极狐</string>
			<string>野马</string>
			<string>雪豹</string>
			<string>中华鲟</string>
			<string>扬子鳄</string>
			<string>蜥蜴</string>
			<string>黑颈鹤</string>
			<string>丹顶鹤</string>
			<string>孔雀</string>
			<string>松鼠</string>
			<string>壁虎</string>
			<string>黑熊</string>
			<string>乌龟</string>
			<string>长颈鹿</string>
			<string>熊猫</string>
			<string>北极熊</string>
			<string>羊</string>
			<string>狗</string>
			<string>猫</string>
			<string>猪</string>
			<string>猴子</string>
			<string>鱼</string>
			<string>骆驼</string>
			<string>蝗虫</string>
			<string>蛐蛐</string>
			<string>蚂蚱</string>
			<string>蜻蜓</string>
			<string>水母</string>
			<string>恐龙</string>
			<string>蝎子</string>
			<string>蝴蝶</string>
			<string>蝗虫</string>
			<string>蜈蚣</string>
			<string>乌贼</string>
			<string>奶牛</string>
			<string>大象</string>
			<string>猫</string>
			<string>牦牛</string>
			<string>黑猩猩</string>
			<string>蝙蝠</string>
			<string>海象</string>
			<string>猫头鹰</string>
			<string>孔雀</string>
			<string>秃鹫</string>
			<string>天鹅</string>
			<string>大雁</string>
			<string>鸽子</string>
			<string>鸵鸟</string>
			<string>乌鸦</string>
			<string>麻雀</string>
			<string>喜鹊</string>
			<string>杜鹃</string>
			<string>燕子</string>
			<string>画眉</string>
			<string>云雀</string>
			<string>眼镜蛇</string>
			<string>青蛙</string>
			<string>鲨鱼</string>
			<string>金枪鱼</string>
			<string>蜘蛛</string>
			<string>蚊子</string>
			<string>萤火虫</string>
			<string>螳螂</string>
			<string>毛毛虫</string>
			<string>蟑螂</string>
			<string>蜗牛</string>
			<string>章鱼</string>
			<string>蜗牛</string>
			<string>龙虾</string>
			<string>袋鼠</string>
			<string>螃蟹</string>
			<string>鸭子</string>
			<string>蜜蜂</string>
			<string>金丝雀</string>
			<string>鲤鱼</string>
			<string>鲢鱼</string>
			<string>蝉</string>
			<string>公鸡</string>
			<string>秃鹰</string>
			<string>鸽子</string>
			<string>鳗鱼</string>
			<string>雪貂</string>
			<string>长臂猿</string>
			<string>鹫</string>
			<string>飞蛾</string>
			<string>苍鹰</string>
			<string>水獭</string>
			<string>扇贝</string>
			<string>蚂蚁</string>
			<string>牦牛</string>
			<string>骡子</string>
			<string>蜂鸟</string>
			<string>鸵鸟</string>
			<string>海豚</string>
			<string>水母</string>
			<string>火鸟</string>
			<string>赤链蛇</string>
			<string>甲壳虫</string>
			<string>螳螂</string>
			<string>蚯蚓</string>
			<string>蝎子</string>
			<string>蟋蟀</string>
			<string>白蚁</string>
			<string>瓢虫</string>
			<string>蚜虫</string>
			<string>响尾蛇</string>
			<string>乌梢蛇</string>
			<string>犰狳</string>
			<string>食蚁兽</string>
			<string>穿山甲</string>
			<string>蓝鲸</string>
			<string>草鱼</string>
			<string>跳虱</string>
			<string>带鱼</string>
			<string>鲫鱼</string>
			<string>萤火虫</string>
			<string>黄花鱼</string>
			<string>石斑鱼</string>
			<string>大比目鱼</string>
			<string>蚕</string>
			<string>蜘蛛</string>
			<string>马蜂</string>
			<string>牛</string>
			<string>兔子</string>
		</array>
	</dict>
</dict>
</plist>
