<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adventure</key>
	<dict>
		<key>疯狂类</key>
		<array>
			<string>窗外唱青藏高原最后一句</string>
			<string>在厕所里唱歌</string>
			<string>买一只冰棒，然后问店员“吃这个要连包装纸一起吃的么？”</string>
			<string>握住一个人手激动地说：中国终于解放了，毛主席万岁</string>
			<string>抱着电线杆大叫一声，我的病终于有救了</string>
			<string>拿张餐巾纸，靠到门口，边挥边对每个路过的人说“大爷进来玩啊……”</string>
			<string>拿扫帚找情侣，然后说，你好，我是电视台的，采访一下 </string>
			<string>站在椅子上，用屁股写自己的名字（当然是写在空气里）</string>
			<string>叫结账，跟服务员说没钱~ </string>
			<string>对服务生说：海狸先生，为什么你的牙齿那么美白？ </string>
			<string>要一瓶可乐，狠摇之后立刻打开</string>
			<string>抓着铁门喊“放我出去！</string>
			<string>出门跟保洁阿姨拥抱</string>
			<string>门口模仿古代女子拉客人</string>
			<string>出门大喊我是猪</string>
		</array>
		<key>男女搭配</key>
		<array>
			<string>背最近一位异性绕场一周</string>
			<string>对最近的异性唱青藏高原最后一句</string>
			<string>抱最远一位异性直到下一轮真心话大冒险结束</string>
			<string>向最远一位异性表白3分钟</string>
			<string>向最近一位异性表白3分钟</string>
			<string>抱最近一位异性直到下一轮真心话大冒险结束</string>
			<string>正面相隔做接吻陶醉状10秒</string>
			<string>背起右边第一个女生跑一圈</string>
			<string>跟左边第二个女生对喝交杯酒</string>
			<string>和左边第一个 异性换穿上衣</string>
			<string>找个同班的异性说，我没穿内裤，你能借我么？</string>
			<string>转上三五圈，弄晕ta后叫ta走模特步</string>
			<string>对着左边第三个女生学猪叫</string>
			<string>背着一位异性绕场3周</string>
			<string>和右边第一个异性关在厕所里等一轮游戏</string>
		</array>
		<key>个性类</key>
		<array>
			<string>qq中把男／女朋友删除</string>
			<string>做一个大家都满意的鬼脸</string>
			<string>拿头撞墙10次</string>
			<string>被一个异性打耳光</string>
			<string>随机打个电话表白</string>
			<string>跟右边一个异性说今晚你是我的了</string>
			<string>右边第二位异性代替惩罚</string>
			<string>说一段绕口令</string>
			<string>深情注视对面的人十秒</string>
			<string>找一位同性吃饼干，长度小于一厘米</string>
			<string>模仿在场一个人</string>
			<string>保持一分钟不笑</string>
			<string>萌萌的唱一首情歌</string>
			<string>去隔壁桌说我是神经病</string>
			<string>萌萌的唱两只老虎</string>
		</array>
		<key>戏虐人生</key>
		<array>
			<string></string>
			<string>享受的秀出自己的腹肌</string>
			<string>妩媚地倒地装死</string>
			<string>萌萌的唱两只老虎</string>
			<string>和右边的人表白</string>
			<string>把自己手机相册公开10秒</string>
			<string>让左边的人替你惩罚三次</string>
			<string>发一张丑照到朋友圈</string>
			<string>用笔在和头上画一个乌龟</string>
			<string>对着门外喊“打雷了，下雨收衣服啊”。</string>
			<string>用手纸当围巾，围脖子上持续一轮游戏</string>
			<string>对窗外大喊“我好寂寞啊”</string>
			<string>左手拉右耳，右手拉左耳，从桌子底下过</string>
			<string>蹲在凳子上作便秘状</string>
			<string>神情的吻墙10秒 </string>
		</array>
		<key>男生请进</key>
		<array>
			<string>深情的吻杯子10秒</string>
			<string>在公众地方青蛙跳一圈</string>
			<string>随便抓个人说，我怀了你的孩子</string>
			<string>蹲在凳子上作便秘的样子。然后边吃东西，20秒。</string>
			<string>围绕屋子跑一圈。并喊。我再也不尿床啦</string>
			<string>摸自己胸说“唉太小了”</string>
			<string>学水兵月做动作，然后对一个人說: 我要代替月亮惩罚你</string>
			<string>站起來,大喊&quot;我是超人,我要回家了！”</string>
			<string>选一个男生 一边捶他的胸一边说：你好讨厌哦</string>
			<string>摆3个S形</string>
			<string>走猫步</string>
			<string>跳肚皮舞</string>
			<string>原地转10圈</string>
			<string>对陌生人美眉挤眉弄眼 </string>
			<string>做自己最性感、最妩媚的表情或动作 </string>
		</array>
		<key>惊喜类</key>
		<array>
			<string>和一个异性唱一首歌</string>
			<string>模仿duang的特效</string>
			<string>唱一首忐忑</string>
			<string>兴奋地跳骑马舞30秒</string>
			<string>蹲在墙角画圆圈到下一回合</string>
			<string>漏出肚皮扭腰扭屁股3圈</string>
			<string>高兴地讲一件最丢人的事情</string>
			<string>指定一人为你设计姿势拍照</string>
			<string>学机器人介绍自己</string>
			<string>做一个回眸一笑的动作持续5秒</string>
			<string>大声说：对不起我是人妖</string>
			<string>脑袋夹在胳肢窝下10秒</string>
			<string>狰狞的表情用舌头舔自己人中</string>
			<string>指定一个人对他说 爸比我们去哪呀</string>
			<string>大喊两声 我是禽兽</string>
		</array>
	</dict>
	<key>Word</key>
	<dict>
		<key>综合</key>
		<array>
			<string>现场所有人，你最讨厌的人是谁</string>
			<string>你觉得自己长的如何</string>
			<string>我在你眼里什么样？</string>
			<string>如果有来生，你选择当？</string>
			<string>你钱包里的照片是谁的？</string>
			<string>每天上网几个小时</string>
			<string>现在想被有钱人保养么</string>
			<string>请说出在座谁昨天没有洗澡</string>
			<string>有没有上厕所之后没有洗手的体验</string>
			<string>觉得失去什么最可怕。 </string>
			<string>你认为没有爱可以性么</string>
			<string>你一共收藏了多少黄色小电影</string>
			<string>你最短的一次恋爱是什么情况。</string>
			<string>你认为世上好人多还是坏人多，为什么</string>
			<string>陌生人最感动你的一次经历是什么</string>
		</array>
		<key>人生阅历</key>
		<array>
			<string>平生最成功的一次撒谎？</string>
			<string>你最讨厌什么样的人？ </string>
			<string>说出最厚脸皮做过的一件事</string>
			<string>去你喜欢的人家里想拉肚子怎么办 </string>
			<string>最奢侈的一次消费是什么 </string>
			<string>你有恨过谁吗？ </string>
			<string>目前最大的愿望是什么</string>
			<string>最害怕的东西是什么</string>
			<string>说出最后悔的一件事</string>
			<string>请说出一次最蠢的被骗经历</string>
			<string>说出曾经嫉妒的一个人</string>
			<string>打算什么时候结婚？ </string>
			<string>说出最恐怖的一次经历</string>
			<string>做过最坏的一件事情是什么</string>
			<string>你最讨厌什么样的人</string>
		</array>
		<key>感情类</key>
		<array>
			<string>男／女朋友和你母亲掉到水里，会救谁</string>
			<string>男／女朋友做过最伤心的事情是什么</string>
			<string>理想中的另一半是什么样子？</string>
			<string>谈一下你的表白经历</string>
			<string>会在婚前跟恋人发生关系么</string>
			<string>你的梦中情人是谁 </string>
			<string>和恋人的身体接触到哪一步了</string>
			<string>你接受姐弟恋吗？</string>
			<string>什么样算是分手最佳方式? </string>
			<string>你会选择爱还是被爱？ </string>
			<string>是否接受当小三</string>
			<string>到目前为止写过多少封情书</string>
			<string>在座你最想打的人是谁</string>
			<string>上一次接吻什么时候，和谁</string>
			<string>谈过几次恋爱</string>
		</array>
		<key>重口味</key>
		<array>
			<string>和男/女朋友进行到哪一步了 ？</string>
			<string>内裤的颜色是什么？</string>
			<string>身上哪个部位最敏感？</string>
			<string>你的初恋是几岁？</string>
			<string>你吻过几个人？</string>
			<string>幻想过3p吗？</string>
			<string>和多少异性有过非恋爱的暧昧关系？</string>
			<string>你会期待一夜情吗？</string>
			<string>你是处女、处男吗？</string>
			<string>你的BRA是什么尺寸?</string>
			<string>今天拉屎没有</string>
			<string>你觉得什么样式的内裤最性感</string>
			<string>你跟几个异性上过床</string>
			<string>今天的内衣是什么颜色</string>
			<string>幻想过3p嘛</string>
		</array>
		<key>日常</key>
		<array>
			<string>最让你尴尬的一件事情是什么？</string>
			<string>有没有在公交车上放过屁？</string>
			<string>会经常便秘吗？</string>
			<string>是否想过自杀，为什么</string>
			<string>你认为男人善变还是女人善变？</string>
			<string>平生最成功的一次撒谎？</string>
			<string>思想出轨和身体出轨，哪个比较能够接受？</string>
			<string>你每天都洗屁屁么？</string>
			<string>最长多久没洗过澡？</string>
			<string>多久换一次内裤</string>
			<string>喜欢裸睡吗</string>
			<string>你觉得自己最郁闷的外号是什么</string>
			<string>你觉得在座谁最性感</string>
			<string>自己做过最丢脸的事情是什么</string>
			<string>在自己最爱的人面前做过最囧的事是什么</string>
		</array>
		<key>小清新</key>
		<array>
			<string>结婚后希望生男孩还是女孩，原因？</string>
			<string>如果让你kiss现场的某一位异性，你会选择谁？</string>
			<string>现在心里最在意的异性叫什么名字？</string>
			<string>你最怕的事情或东西是什么？</string>
			<string>从小到大最丢脸出丑的事情是什么？</string>
			<string>考过最低的一门是什么课，考了几分？</string>
			<string>现场所有人，你看哪位异性同学最舒服？</string>
			<string>第一个喜欢的异性叫什么名字？</string>
			<string>最欣赏自己哪个部位？</string>
			<string>对自己那个部位最不满意？</string>
			<string>打算什么时候结婚？</string>
			<string>每天睡觉前都会想起的人是谁？  </string>
			<string>情形容一下你的梦中情人？</string>
			<string>几岁第一次表白？</string>
			<string>你认为最浪漫的事情是什么？</string>
		</array>
	</dict>
</dict>
</plist>
