<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>白</string>
		<string>百</string>
		<string>柏</string>
		<string>佰</string>
		<string>伯</string>
		<string>拜</string>
		<string>败</string>
		<string>摆</string>
		<string>掰</string>
	</array>
	<array>
		<string>爆</string>
		<string>包</string>
		<string>报</string>
		<string>宝</string>
		<string>抱</string>
		<string>暴</string>
		<string>豹</string>
		<string>龅</string>
		<string>雹</string>
	</array>
	<array>
		<string>币</string>
		<string>比</string>
		<string>逼</string>
		<string>必</string>
		<string>笔</string>
		<string>闭</string>
		<string>鼻</string>
		<string>碧</string>
		<string>鄙</string>
	</array>
	<array>
		<string>擦</string>
		<string>差</string>
		<string>查</string>
		<string>插</string>
		<string>茶</string>
		<string>叉</string>
		<string>察</string>
		<string>岔</string>
		<string>茬</string>
	</array>
	<array>
		<string>长</string>
		<string>唱</string>
		<string>厂</string>
		<string>场</string>
		<string>常</string>
		<string>产</string>
		<string>昌</string>
		<string>残</string>
		<string>缠</string>
	</array>
	<array>
		<string>吃</string>
		<string>次</string>
		<string>此</string>
		<string>迟</string>
		<string>持</string>
		<string>词</string>
		<string>刺</string>
		<string>辞</string>
		<string>池</string>
	</array>
	<array>
		<string>当</string>
		<string>但</string>
		<string>单</string>
		<string>蛋</string>
		<string>淡</string>
		<string>丹</string>
		<string>党</string>
		<string>胆</string>
		<string>担</string>
	</array>
	<array>
		<string>底</string>
		<string>地</string>
		<string>第</string>
		<string>低</string>
		<string>滴</string>
		<string>弟</string>
		<string>帝</string>
		<string>敌</string>
		<string>蒂</string>
	</array>
	<array>
		<string>度</string>
		<string>读</string>
		<string>毒</string>
		<string>都</string>
		<string>肚</string>
		<string>赌</string>
		<string>堵</string>
		<string>独</string>
		<string>渡</string>
	</array>
	<array>
		<string>非</string>
		<string>飞</string>
		<string>费</string>
		<string>肥</string>
		<string>废</string>
		<string>肺</string>
		<string>妃</string>
		<string>匪</string>
		<string>吠</string>
	</array>
	<array>
		<string>分</string>
		<string>风</string>
		<string>疯</string>
		<string>峰</string>
		<string>粉</string>
		<string>奋</string>
		<string>丰</string>
		<string>芬</string>
		<string>粪</string>
	</array>
	<array>
		<string>父</string>
		<string>服</string>
		<string>胡</string>
		<string>福</string>
		<string>付</string>
		<string>湖</string>
		<string>富</string>
		<string>虎</string>
		<string>复</string>
	</array>
	<array>
		<string>共</string>
		<string>空</string>
		<string>公</string>
		<string>宫</string>
		<string>功</string>
		<string>供</string>
		<string>恭</string>
		<string>攻</string>
		<string>弓</string>
	</array>
	<array>
		<string>古</string>
		<string>姑</string>
		<string>顾</string>
		<string>故</string>
		<string>骨</string>
		<string>谷</string>
		<string>孤</string>
		<string>菇</string>
		<string>鼓</string>
	</array>
	<array>
		<string>虎</string>
		<string>胡</string>
		<string>湖</string>
		<string>呼</string>
		<string>乎</string>
		<string>户</string>
		<string>护</string>
		<string>忽</string>
		<string>糊</string>
	</array>
	<array>
		<string>黄</string>
		<string>慌</string>
		<string>皇</string>
		<string>晃</string>
		<string>荒</string>
		<string>谎</string>
		<string>煌</string>
		<string>凰</string>
		<string>恍</string>
	</array>
	<array>
		<string>会</string>
		<string>回</string>
		<string>辉</string>
		<string>汇</string>
		<string>灰</string>
		<string>惠</string>
		<string>慧</string>
		<string>悔</string>
		<string>毁</string>
	</array>
	<array>
		<string>挤</string>
		<string>即</string>
		<string>既</string>
		<string>及</string>
		<string>几</string>
		<string>机</string>
		<string>急</string>
		<string>记</string>
		<string>鸡</string>
	</array>
	<array>
		<string>加</string>
		<string>假</string>
		<string>家</string>
		<string>嫁</string>
		<string>价</string>
		<string>佳</string>
		<string>架</string>
		<string>嘉</string>
		<string>夹</string>
	</array>
	<array>
		<string>减</string>
		<string>见</string>
		<string>件</string>
		<string>间</string>
		<string>建</string>
		<string>剪</string>
		<string>贱</string>
		<string>健</string>
		<string>剑</string>
	</array>
	<array>
		<string>接</string>
		<string>姐</string>
		<string>借</string>
		<string>节</string>
		<string>结</string>
		<string>街</string>
		<string>解</string>
		<string>杰</string>
		<string>介</string>
	</array>
	<array>
		<string>可</string>
		<string>课</string>
		<string>科</string>
		<string>客</string>
		<string>克</string>
		<string>刻</string>
		<string>颗</string>
		<string>渴</string>
		<string>咳</string>
	</array>
	<array>
		<string>雷</string>
		<string>类</string>
		<string>累</string>
		<string>泪</string>
		<string>磊</string>
		<string>蕾</string>
		<string>肋</string>
		<string>擂</string>
		<string>垒</string>
	</array>
	<array>
		<string>连</string>
		<string>脸</string>
		<string>练</string>
		<string>联</string>
		<string>恋</string>
		<string>莲</string>
		<string>怜</string>
		<string>链</string>
		<string>廉</string>
	</array>
	<array>
		<string>领</string>
		<string>另</string>
		<string>零</string>
		<string>玲</string>
		<string>灵</string>
		<string>令</string>
		<string>凌</string>
		<string>岭</string>
		<string>龄</string>
	</array>
	<array>
		<string>没</string>
		<string>妹</string>
		<string>美</string>
		<string>每</string>
		<string>梅</string>
		<string>霉</string>
		<string>眉</string>
		<string>煤</string>
		<string>魅</string>
	</array>
	<array>
		<string>票</string>
		<string>漂</string>
		<string>飘</string>
		<string>嫖</string>
		<string>瓢</string>
		<string>瞟</string>
		<string>缥</string>
		<string>剽</string>
		<string>朴</string>
	</array>
	<array>
		<string>其</string>
		<string>起</string>
		<string>器</string>
		<string>七</string>
		<string>气</string>
		<string>期</string>
		<string>奇</string>
		<string>骑</string>
		<string>企</string>
	</array>
	<array>
		<string>前</string>
		<string>签</string>
		<string>钱</string>
		<string>千</string>
		<string>欠</string>
		<string>倩</string>
		<string>牵</string>
		<string>浅</string>
		<string>潜</string>
	</array>
	<array>
		<string>取</string>
		<string>去</string>
		<string>区</string>
		<string>娶</string>
		<string>曲</string>
		<string>趣</string>
		<string>屈</string>
		<string>驱</string>
		<string>渠</string>
	</array>
	<array>
		<string>容</string>
		<string>荣</string>
		<string>蓉</string>
		<string>融</string>
		<string>榕</string>
		<string>溶</string>
		<string>绒</string>
		<string>戎</string>
		<string>茸</string>
	</array>
	<array>
		<string>删</string>
		<string>山</string>
		<string>闪</string>
		<string>善</string>
		<string>扇</string>
		<string>衫</string>
		<string>陕</string>
		<string>姗</string>
		<string>煽</string>
	</array>
	<array>
		<string>数</string>
		<string>书</string>
		<string>输</string>
		<string>熟</string>
		<string>叔</string>
		<string>树</string>
		<string>属</string>
		<string>舒</string>
		<string>术</string>
	</array>
	<array>
		<string>弹</string>
		<string>谈</string>
		<string>谭</string>
		<string>叹</string>
		<string>贪</string>
		<string>摊</string>
		<string>探</string>
		<string>坦</string>
		<string>坛</string>
	</array>
	<array>
		<string>拖</string>
		<string>脱</string>
		<string>托</string>
		<string>妥</string>
		<string>陀</string>
		<string>拓</string>
		<string>坨</string>
		<string>驼</string>
		<string>驮</string>
	</array>
	<array>
		<string>玩</string>
		<string>完</string>
		<string>万</string>
		<string>晚</string>
		<string>碗</string>
		<string>湾</string>
		<string>弯</string>
		<string>丸</string>
		<string>婉</string>
	</array>
	<array>
		<string>为</string>
		<string>未</string>
		<string>魏</string>
		<string>位</string>
		<string>喂</string>
		<string>伟</string>
		<string>味</string>
		<string>胃</string>
		<string>微</string>
	</array>
	<array>
		<string>洗</string>
		<string>西</string>
		<string>系</string>
		<string>喜</string>
		<string>习</string>
		<string>细</string>
		<string>希</string>
		<string>戏</string>
		<string>息</string>
	</array>
	<array>
		<string>想</string>
		<string>向</string>
		<string>像</string>
		<string>相</string>
		<string>香</string>
		<string>箱</string>
		<string>象</string>
		<string>响</string>
		<string>乡</string>
	</array>
	<array>
		<string>行</string>
		<string>醒</string>
		<string>性</string>
		<string>星</string>
		<string>兴</string>
		<string>姓</string>
		<string>型</string>
		<string>幸</string>
		<string>形</string>
	</array>
	<array>
		<string>眼</string>
		<string>烟</string>
		<string>严</string>
		<string>燕</string>
		<string>言</string>
		<string>艳</string>
		<string>演</string>
		<string>盐</string>
		<string>岩</string>
	</array>
	<array>
		<string>运</string>
		<string>晕</string>
		<string>云</string>
		<string>韵</string>
		<string>孕</string>
		<string>允</string>
		<string>芸</string>
		<string>匀</string>
		<string>熨</string>
	</array>
	<array>
		<string>炸</string>
		<string>扎</string>
		<string>渣</string>
		<string>咋</string>
		<string>乍</string>
		<string>闸</string>
		<string>诈</string>
		<string>眨</string>
		<string>榨</string>
	</array>
	<array>
		<string>站</string>
		<string>栈</string>
		<string>占</string>
		<string>战</string>
		<string>展</string>
		<string>沾</string>
		<string>粘</string>
		<string>斩</string>
		<string>詹</string>
	</array>
	<array>
		<string>真</string>
		<string>镇</string>
		<string>针</string>
		<string>阵</string>
		<string>珍</string>
		<string>震</string>
		<string>振</string>
		<string>枕</string>
		<string>贞</string>
	</array>
	<array>
		<string>主</string>
		<string>住</string>
		<string>猪</string>
		<string>祝</string>
		<string>朱</string>
		<string>煮</string>
		<string>注</string>
		<string>珠</string>
		<string>助</string>
	</array>
</array>
</plist>
